<div class="container">
  <div class="row align-items-center mb-4">
    <div class="col-md-7">
      <div class="summary d-flex align-items-baseline mt-1">
        <p class="summary-label">In</p>
        <p class="summary-value summary-value-in">{{ incomes() }}€</p>
        <p class="summary-label">Out</p>
        <p class="summary-value summary-value-out">{{ -out() }}€</p>
        <p class="summary-label">Interest</p>
        <p class="summary-value summary-value-interest">{{ intrest() }}€</p>
      </div>
    </div>

    <div class="col-md-5">
      <p class="logout-timer text-end mt-2">
        You will be logged out in <span class="timer">{{ timer }}</span>
      </p>
    </div>
  </div>
</div>
